body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	border-radius: 6px;
	width: 80px;
}
.container-fluid {
	height: calc(100vh - 63px);
	overflow-y: scroll;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgb(250, 250, 250);
}
.header-sizer {
	width: 100%;
	max-width: 750px;
	display: inherit;
	flex-wrap: inherit;
}
.app-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.app-title {
	text-align: center;
}
@media (min-width: 576px) {
	.app-title {
		text-align: left;
		margin-bottom: initial;
	}
}

/* \/ \/ \/ Beer Stats Window \/ \/ \/ */
.stats-container {
	margin-bottom: 0.5rem;
}
.stats {
	width: 100%;
	display: flex;
	text-align: center;
}
.stat {
	width: 50%;
	padding: 0 10px;
}
.stat.title {
	text-align: right;
}
.stat.value {
	text-align: left;
}
/* /\ /\ /\ Beer Stats Window /\ /\ /\ */

/* \/ \/ \/ Main Table \/ \/ \/ */
.table-title {
	width: 100%;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 0;
	padding: 6px 0;
}
.table {
	width: 100%;
	max-width: 775px;
}
.beerContainer:nth-child(odd) {
	background-color:rgb(230, 230, 230);
}
.beerContainer {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

.nameContainer {
	display: flex;
	justify-content: space-between;
	padding: 12px 36px;
	font-size: 1.5rem;
	position: relative;
}
.dotButton,
.xButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(30, 30, 30);
	border-radius: 50%;
	font-weight: 600;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 4px;
	right: 38px;
}
.dotButton {
	font-size: 1rem;
}
.xButton {
	font-size: 1.5rem;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(40, 40, 40);
	margin: 0 1px;
}
.xBar {
	width: 3px;
	height: 20px;
	background-color:rgb(20, 20, 20);
	border-radius: 20px;
}
.xBar1 {
	transform: rotate(45deg) translate(2px);
}
.xBar2 {
	transform: rotate(-45deg) translate(-2px);
}

.infoContainer {
	display: none;
	justify-content: space-between;
	padding: 0 36px 12px 36px;
}
.info {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}
.breweryRating {
	display: flex;
	justify-content: space-between;
}
.buttons {
	text-align: right;
}

.beerContainer.toggle .nameContainer .dotButton,
.beerContainer.toggle.open .nameContainer .xButton,
.beerContainer.toggle.open .infoContainer {
	display: flex;
}
.beerContainer.toggle.open .nameContainer .dotButton,
.beerContainer.toggle .nameContainer .xButton,
.beerContainer.toggle .infoContainer {
	display: none;
}

/* /\ /\ /\ Main Table /\ /\ /\ */

/* \/ \/ \/ Input Form \/ \/ \/ */
.formContainer {
	text-align: center;
	margin-top: 26px;
}
label {
	text-align: right;
	vertical-align: top;
	width: 60px;
}
textarea {
	width: 180px;
}
textarea,
input {
	border: 1px solid black;
	border-radius: 4px;
}
.button-container {
	margin: 12px 0;
}
/* /\ /\ /\ Input Form /\ /\ /\ */

.footer {
	width: 100vw;
	padding: 12px 0;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid black;
	background-color: rgb(250,250,250);
}

.addModal {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(250, 250, 250);
	overflow-y: scroll;
}
input {
	box-shadow: inset 2px 2px 5px 1px transparent,
	inset -2px -2px 5px 1px transparent;
}
.error {
	position: relative;
	bottom: 5px;
	left: 25px;
	color: var(--red);
	font-weight: 700;
}

.invalid {
	box-shadow: inset 2px 2px 5px 1px var(--red),
	inset -2px -2px 5px 1px var(--red)
}


.hide {
	display: none;
}
